.wd-kanbas-navigation {
  background: black;
  border-radius: 0px;
  border: none;
}

.wd-kanbas-navigation a {
  background-color: black;
  color: white;
  border-radius: 0px;
  border: none;
}

.wd-white {
  color: white;
}
.wd-red {
  color: red;
}
.wd-gray {
  color: gray;
}
.wd-black {
  color: black;
}
.wd-blue {
  color: #318CE7;
}
.wd-green {
  color: green;
}
.wd-menu-icon {
  margin-right: 50px;
  margin-left: 20px;
  color: red;
}
.wd-account-sidebar-selected {
  border-left: thin solid;
  color: black;
  padding-left: 8px;
}
.wd-profile-info {
  display:flex;
  float: left;
  flex-direction: column;
}
.wd-bold-font {
  font-weight: bold;
}
.wd-links-box {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.wd-button-medium {
  max-width: 500px;
}
.wd-dashboard-header-text {
  font-size: x-large;
  margin-left: 20px;
}
.wd-published-courses-header {
  margin-left: 20px;
}
.wd-text-small {
  font-size: small;
}
.wd-card-container {
  min-width: 650px;
  max-width: 1300px;
  margin-top: 50px;
  padding-left: 20px;
}
.wd-card-container div {
  width: 270px;
  height: 320px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.wd-non-decorated {
  text-decoration:none;
}
.wd-content-container {
  margin-left: 80px;
}
.wd-hr {
  width: 95vw;
}
.wd-course-list {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 1500px;
  min-width: 600px;
  
}
.wd-long-button {
  width: 300px;
  text-align: start;
}
.wd-min-page-width {
  min-width: 5000px;
}
.wd-list-border {
  border-left: thick solid;
  border-left-color: green;
}
.wd-assignments-body {
  padding-left: 70px;
  font-size: smaller;
}
.wd-profile-header {
  display: flex;
  padding-top: 20px;
  flex-direction: row;
  font-size: medium;
  align-items: center;
}
.wd-add-course-body {
  padding-left: 20px;
}
.wd-add-course-body > *{
  margin-right: 20px;
}